html {
	
}
body {
	background-color: black;
}
.title {
	font-family: 'Poiret One', cursive;
	text-align: center;
	letter-spacing: 1.1em;
	color: rgba(256,256,256,0.8);
	font-size: 30px;
	margin-top: 2%;
}